@font-face {
  font-family: "Creative-Vintage-Draft";
  src: url(./assets/fonts/creativeVintageDraft/CreativeVintageDraft.ttf)
}


@font-face {
  font-family: "Monsterrat-Regular";
  src: url(./assets/fonts/monsterrat/Montserrat-Regular.ttf)
}
